{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container mb-3  ">
  <canvas class="canvas-size" id="game"></canvas>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", () => {
  const canvas = document.getElementById("game");
  const context = canvas.getContext("2d");
  const paddleHitSound = new Audio("{% static '/sound/paddleHit.mp3' %}");
  const wallHitSound = new Audio("{% static '/sound/wallHit.mp3' %}");

  const backgroundCanvas = document.createElement("canvas");
  const scoreboardCanvas = document.createElement("canvas");
  const scoreboardContext = scoreboardCanvas.getContext("2d");

  const keys = {};
  let leftScore, rightScore;
  let grid, paddleHeight, ballSize, paddleSpeed, maxPaddleY;
  let leftPaddle, rightPaddle, ball, lastTime, gameOver, winner;

  function initializeGame() {
    grid = Math.floor(canvas.width * 0.02);
    paddleHeight = grid * 5;
    ballSize = grid;
    paddleSpeed = canvas.height * 0.6;
    maxPaddleY = canvas.height - grid - paddleHeight;

    lastTime = 0;
    gameOver = false;
    winner = "";

    leftScore = 0;
    rightScore = 0;

    leftPaddle = createPaddle(grid * 2, canvas.height / 2 - paddleHeight / 2);
    rightPaddle = createPaddle(
      canvas.width - grid * 3,
      canvas.height / 2 - paddleHeight / 2
    );
    ball = createBall(canvas.width / 2, canvas.height / 2);

    paddleHitSound.load();
    wallHitSound.load();
  }

  function createPaddle(x, y) {
    return { x: x, y: y, width: grid, height: paddleHeight, dy: 0 };
  }

  function createBall(x, y) {
    return { x: x, y: y, width: ballSize, height: ballSize, dx: canvas.width * 0.4, dy: -canvas.width * 0.4, resetting: false };
  }

  function loop(timestamp) {
    if (gameOver) return drawEndGameScreen();

    const deltaTime = (timestamp - lastTime) / 1000;
    lastTime = timestamp;

    update(deltaTime);
    draw();
    requestAnimationFrame(loop);
  }

  function update(deltaTime) {
    paddlesMovement(deltaTime);
    ballMovement(deltaTime);

    if (collides(ball, leftPaddle)) updateBallWhenColideWithPaddle(leftPaddle, leftPaddle.x + leftPaddle.width);
    else if (collides(ball, rightPaddle)) updateBallWhenColideWithPaddle(rightPaddle, rightPaddle.x - ball.width);
  }

  function updateBallWhenColideWithPaddle(paddle, newBallX) {
    let impactPoint = ball.y + ball.height / 2 - (paddle.y + paddle.height / 2);
    let normalizedImpact = impactPoint / (paddle.height / 2);
    ball.dx *= -1.05;
    ball.dy = normalizedImpact * canvas.height * 0.3;
    ball.x = newBallX;
    paddleHitSound.play();
  }

  function paddlesMovement(deltaTime) {
    rightPaddle.dy = (keys["ArrowUp"] ? -paddleSpeed : 0) + (keys["ArrowDown"] ? paddleSpeed : 0);
    leftPaddle.dy = (keys["KeyW"] ? -paddleSpeed : 0) + (keys["KeyS"] ? paddleSpeed : 0);

    rightPaddle.y += rightPaddle.dy * deltaTime;
    leftPaddle.y += leftPaddle.dy * deltaTime;

    constrainPaddle(leftPaddle);
    constrainPaddle(rightPaddle);
  }

  function constrainPaddle(paddle) {
    if (paddle.y < grid) {
      paddle.y = grid;
    } else if (paddle.y > maxPaddleY) {
      paddle.y = maxPaddleY;
    }
  }

  function ballMovement(deltaTime) {
    ball.x += ball.dx * deltaTime;
    ball.y += ball.dy * deltaTime;

    if (ball.y < grid) {
      ball.y = grid;
      ball.dy *= -1;
      if (!ball.resetting) wallHitSound.play();
    } else if (ball.y + grid > canvas.height - grid) {
      ball.y = canvas.height - grid * 2;
      ball.dy *= -1;
      if (!ball.resetting) wallHitSound.play();
    }

    if ((ball.x < 0 || (ball.x + ballSize) > canvas.width) && !ball.resetting) {
      ball.resetting = true;
      updateScore();
      resetBall();
    }
  }

  function updateScore() {
    if (ball.x < 0) {
      rightScore++;
    } else if ((ball.x + ballSize) > canvas.width) {
      leftScore++;
    }
    drawScoreboard();
    if (leftScore >= 3) {
      endGame("Jogador da Esquerda Venceu!");
    } else if (rightScore >= 3) {
      endGame("Jogador da Direita Venceu!");
    }
  }

  function resetBall() {
    setTimeout(() => {
      ball.resetting = false;
      ball.x = canvas.width / 2;
      ball.y = canvas.height / 2;
      ball.dx = (Math.random() > 0.5 ? 1 : -1) * canvas.width * 0.4;
      ball.dy = (Math.random() > 0.5 ? 1 : -1) * canvas.width * 0.4;
    }, 1000 + Math.random() * 500);
  }

  function draw() {
    context.clearRect(0, 0, canvas.width, canvas.height);

    context.fillStyle = "white";
    context.fillRect(leftPaddle.x, leftPaddle.y, leftPaddle.width, leftPaddle.height);
    context.fillRect(rightPaddle.x, rightPaddle.y, rightPaddle.width, rightPaddle.height);
    context.fillRect(ball.x, ball.y, ball.width, ball.height);

    context.drawImage(scoreboardCanvas, 0, 0);
    context.drawImage(backgroundCanvas, 0, 0);
  }

  function createBackground() {
    const backgroundContext = backgroundCanvas.getContext("2d");

    backgroundCanvas.width = canvas.width;
    backgroundCanvas.height = canvas.height;

    backgroundContext.fillStyle = "lightgrey";
    backgroundContext.fillRect(0, 0, backgroundCanvas.width, grid);
    backgroundContext.fillRect(0, backgroundCanvas.height - grid, backgroundCanvas.width, backgroundCanvas.height);

    for (let i = grid; i < backgroundCanvas.height - grid; i += grid * 2) {
      backgroundContext.fillRect(backgroundCanvas.width / 2 - grid / 2, i, grid, grid);
    }
  }

  function drawScoreboard() {
    scoreboardCanvas.width = canvas.width;
    scoreboardCanvas.height = canvas.height;

    scoreboardContext.clearRect(0, 0, scoreboardCanvas.width, scoreboardCanvas.height);
    scoreboardContext.fillStyle = "white";

    scoreboardContext.font = canvas.height * 0.05 + "px Arial";
    scoreboardContext.textAlign = "center";
    scoreboardContext.fillText(leftScore, scoreboardCanvas.width * 0.25, scoreboardCanvas.height * 0.1);
    scoreboardContext.fillText(rightScore, scoreboardCanvas.width * 0.75, scoreboardCanvas.height * 0.1);
  }

  function adjustCanvasResolution() {
    const dpr = window.devicePixelRatio || 1;
    const width = canvas.clientWidth * dpr;
    const height = canvas.clientHeight * dpr;

    canvas.width = width;
    canvas.height = height;
    canvas.style.width = `${canvas.clientWidth}px`;
    canvas.style.height = `${canvas.clientHeight}px`;

    initializeGame();
    createBackground();
    drawScoreboard();
  }

  function collides(obj1, obj2) {
    return (
      obj1.x < obj2.x + obj2.width &&
      obj1.x + obj1.width > obj2.x &&
      obj1.y < obj2.y + obj2.height &&
      obj1.y + obj1.height > obj2.y
    );
  }

  function drawEndGameScreen() {
    context.fillStyle = "rgba(0, 0, 0, 0.7)";
    context.fillRect(0, 0, canvas.width, canvas.height);

    context.fillStyle = "white";
    context.font = canvas.height * 0.06 + "px Arial";
    context.textAlign = "center";
    context.fillText(winner, canvas.width / 2, canvas.height / 2);
  }

  function endGame(winningPlayer) {
    gameOver = true;
    winner = winningPlayer;
    setTimeout(drawEndGameScreen, 500);
  }

  function adjustCanvasSize() {
    const header = document.querySelector("header");
    const container = canvas.parentElement;

    let availableHeight = window.innerHeight - header.offsetHeight - 32;
    let width = (availableHeight * 16) / 9;
    if (width > window.innerWidth) {
      width = window.innerWidth;
      availableHeight = (width * 9) / 16;
    }

    container.style.width = `${width}px`;
    container.style.height = `${availableHeight}px`;
    canvas.width = width;
    canvas.height = availableHeight;
  }

  document.addEventListener("keydown", (e) => {
    if (["ArrowUp", "ArrowDown", "KeyW", "KeyS"].includes(e.code)) {
      e.preventDefault();
      keys[e.code] = true;
    }
  });

  document.addEventListener("keyup", (e) => {
    if (["ArrowUp", "ArrowDown", "KeyW", "KeyS"].includes(e.code)) {
      e.preventDefault();
      keys[e.code] = false;
    }
  });

  adjustCanvasSize();
  adjustCanvasResolution();
  requestAnimationFrame(loop);
});
</script>
{% endblock %}
