{% extends 'shared/base.html' %} {% load static %} {% block content %}
<div class="container vh-100 d-flex flex-column justify-content-center">
  <div class="mx-auto container-sm">
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="form-group mt-3 mb">
        <label for="input-email">Email</label>
        <input
          type="email"
          class="form-control"
          id="input-email"
          aria-describedby="emailHelp"
          placeholder="Digite o e-mail"
        />
      </div>
      <div class="form-group mt-3">
        <label for="input-password">Senha</label>
        <input
          type="password"
          class="form-control"
          id="input-password"
          placeholder="Senha"
        />
      </div>
      <button type="submit" class="btn btn-primary mt-3">Logar</button>
    </form>
  </div>
</div>
{% endblock %}
