{% load i18n %}
{% if user.is_authenticated %}
<header class="p-3 mb-3 border-bottom bg-body-tertiary">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h2 class="m-0">Pong 42</h2>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <img src="{{ user.avatar.url }}" alt="{% translate "Foto do usuário" %}" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a href="{% url 'profile' %}" class="dropdown-item">{% translate "Perfil" %}</a></li>
          <li class="dropdown">
            <button class="dropdown-item dropdown-toggle" id="bd-theme" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="theme-icon-active bi bi-circle-half"></i>
              <span class="mx-1">{% translate "Tema" %}</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <button class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light">
                  <i class="bi bi-sun-fill me-2"></i> {% translate "Claro" %}
                </button>
              </li>
              <li>
                <button class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                  <i class="bi bi-moon-stars-fill me-2"></i> {% translate "Escuro" %}
                </button>
              </li>
              <li>
                <button class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                  <i class="bi bi-circle-half me-2"></i> {% translate "Automático" %}
                </button>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <button class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-translate"></i>
              <span class="mx-1">{% translate "Lingua" %}</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'set_language' %}" onclick="event.preventDefault(); document.getElementById('lang-{{ language.code }}').submit();">
                    {{ language.name_local }} ({{ language.code }})
                  </a>
                  <form id="lang-{{ language.code }}" action="{% url 'set_language' %}" method="post" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="{{ language.code }}">
                    <input type="hidden" name="next" value="{{ redirect_to }}">
                  </form>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li><a href="{% url 'logout' %}" class="dropdown-item">{% translate "Logout" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
{% endif %}
